.navbar_boby{
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    background-color:black;
    justify-content:center ;
    align-items: center;
    gap: 20px;
}

.navbar{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 190px;
    
}
.avatar{
    padding: 10px 15px 12px 15px;
}
    
    .icons{
    border: none;
    border-radius: 7px;
    padding: 7px 13px;
}
.icons:hover{
    background-color: rgba(226, 226, 226, 0.233);
}
